<h1><%= link_to "City with Landmarks", root_path %></h1>

<h3>Landmarks</h3>

<% @landmarks.each do |landmark| %>
  <p><%= link_to landmark.name,landmark_path(landmark.id) %></p>
<% end %>

<hr>

<%= link_to "[Add Landmark]", new_landmark_path %>
