<h1><%= link_to "City with Landmarks", root_path %></h1>

<h3>Cities</h3>

<% @cities.each do |city| %>
  <p><%= link_to city.name,city_path(city.id) %></p>
<% end %>

<hr>

<%= link_to "[Add City]", new_city_path %>
